.App-publishers {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: white;
    flex-grow: 1;
    flex-basis: auto;
}

.App-publishers Button {
    margin-top: 30px;
}

.App-publishers div {
    min-width: 90%;
}

.App-publishers div Table {
    margin-top: 50px;
}

.App-publishers Table tbody tr td Button {
    margin: 0;
    margin-right: 10px
}