
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
  flex-grow: 0;
  flex-basis: auto;
  background-color: #000000;
}

.header ul {
    margin: 0;
    text-align: center;
    list-style: none; /* Se livra dos bullets - bolinhas pretas - marcadores */
    padding-top: 30px; /* Colocar um espaçamento acima da lista para baixar ela */
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li {
    display: inline-block;
    margin-left: 40px;
}

.header ul li a {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.header ul li a:link,
.header ul li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.header ul li a:hover,
.header ul li a:active {
    border-bottom: 2px solid #6495ED;
}

.App {
    text-align: center;
  }
  
.logo {
    height: 6vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }


.button-user {
    margin-left: 30px;
    text-decoration: none;
    border: 1px solid #3498DB;
    border-radius: 4px;
    padding: 6px 4px;
    width: 150px;
    font-weight: 600;
    color: #000000;
    background-color: #3498DB;
  }
